
*{ 
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    background: #48d1cc;
    width: 100%;

    
}
.header {
    background-color: aliceblue;

}

.container {
overflow: hidden;

}

.textMain {
    float: right;
    font-size: x-large;
    color: white;
}
.textMain2 {
    float:left;
    color: white;
}
.boton {
    padding: 8px;
    margin-left: 28px;
    background-color: white;
    border-radius: 12px;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    color:black;

}
ul {
    text-decoration: none;
    display: inline-flex;
    margin: 27px;
    padding: 5px 0;
}
.boton:hover {
    background-color: aquamarine;
}
.item-r {
    text-decoration: none;
    margin-left: 400px;
}
.item-r {
    background-color:blueviolet;
    border-radius: 12px;
    padding:8px;
    padding-left: 22px;
    padding-right: 22px;
    color: aliceblue;
    margin-left: 130px;
}

.item-r:hover {
    background-color: black;
    color:aquamarine;
}
.nav {
    width: 100%;
    padding: 10px;
}

.section {
    background-image: url("Materiales/manos.jpg");
    color: aliceblue;
    text-align: center;
    padding: 100px;
}

.article {
    justify-content: center;
    background-color: white;
}
.titulo {
    text-align: center;
    color: black;

}
.texto {
    text-align: center;
    color: black;
    font-size: 15px;
}
.oficina {
    width: 409px;
    height: 209px;
    float: left;
    position: relative;
    margin: 26px;
}
.voluntariado {
    width: 409px;
    height: 209px;
    float: right;

}


.voluntario {
    background-color: crimson;
    color: antiquewhite;
    padding: 40px;
    margin: 8px;
    border-radius: 12px;
}
.donar {
    background-color:darkorange;
    color: antiquewhite;
    padding: 40px;
    margin: 8px;
    border-radius: 12px;
}
.reciclar {
    background-color:greenyellow;
    color: antiquewhite;
    padding: 40px;
    margin: 8px;
    border-radius: 12px;
}
.laborales {
    background-color: skyblue;
    color: antiquewhite;
    padding: 40px;
    margin: 8px;
    border-radius: 12px;
}
.logo1 {
    width: 119px;
    height: 23px;
    margin-top: -3px;
}
.laptop {
    width: 300px;
    height: 200px;
    margin-right: 27px;
}

.contacto {
    display: inline-flex;
    vertical-align: top;
}

.contacto > h1 {
    text-align: center;
}

.footer {
    background-color:blueviolet;
}
.nexos {
    width: 119px;
    height: 23px;
    margin-left: 25px;
}
.nex {
    flex-direction: column;
    margin-left: 100px;
    color:aliceblue;
    text-decoration:none;

}
.contc {
    margin-left: 300px;
    flex-direction: column;
}
.tituloN {
    text-align: left;
    color:aliceblue
    
}

.textoN {
    color: aliceblue;
    text-align: left;
}

.interact {
    float: right;
    flex-direction: column;
    margin: -163px;
    margin-right: 236px;
    
}