* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    width: 100vw;
}

/* Aplico estilo a la barra de navegacion */
.nav-bar {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.hamburger-lines,
.checkbox {
    display: none;
    visibility: hidden;
}

.logo {
    display: flex;
    width: auto;
}

.nav-container {
    display: flex;
    width: 90vw;
    height: 70px;
    align-items: center;
}

.menu-items {
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.menu-items>li {
    list-style-type: none;
    padding: 20px;
}

.nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.5em;
    padding: 18px;
}

.nav-container button {
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    padding: 8px 20px;
    background: #5227CC;
    color: #f9f9f9;
    margin-left: 100%;
}

.nav-container a:hover {
    font-weight: bolder;
}

/* Aplico estilo a las fuentes */
h1,
h2,
h3 {
    font-family: 'Comfortaa';
}

input,
button,
li,
a {
    font-family: 'Comfortaa';
}

p {
    font-family: 'Love-Ya-Like-A-Sister';
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1em;
    font-weight: 400;
}

/* Aplico estilo al header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/manos.jpg");
    background-size: cover;
    width: 100vw;
    height: 375px;
    margin-left: -36px;
}

.header-texto {
    padding: 50px 10px 0 10px;
    color: white;
    text-align: center;
}

.heder-texto>h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.heder-texto>p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* Aplico estilo a la seccion nosotros que se divide en 2 partes. Primero una celeste
y luego una blanca  */

/* Primera parte */
.seccion-nosotros {
    width: 100vw;
}

.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw;
    background-color: #1C78FD;
}

.nosotros1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.nosotros2 {
    display: flex;
    justify-content: space-around;
}

.nosotros-texto {
    width: 45vw;
    color: white;
}

.nosotros-texto>h2 {
    padding: 15px;
}

.nosotros-texto>p {
    padding: 10px;
}

.nosotros-img {
    width: 45vw;
    padding: 5vw;
}

.nosotros-img>img {
    width: 600px;
    height: 350px;
    border-radius: 15px;
    box-shadow: inset 0 0 2000px rgba(49, 47, 47, 0.479);
}

/* Segunda parte */
.oportunidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.oportunidades-texto>h2 {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}

.oportunidades-texto>p {
    padding: 15px;
    text-align: center;
}

.container-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 40vh;
    margin: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 8px;
    border-radius: 12px;
}

.icon-mas {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.icon>img {
    padding: 10px;
    width: 150px;
    height: 150px;
}

.icon {
    display: flex;
    justify-content: flex-start;
}

.box-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.box-text>h3 {
    padding: 10px;
}

#box1 {
    background-color: rgb(210, 58, 89);
}

#box2 {
    background-color: rgb(240, 149, 38);
}

#box3 {
    background-color: rgb(178, 244, 79);
}

#box4 {
    background-color: rgb(174, 225, 245);
}

/* Aplico estilo a la seccion de noticias */
.seccion-noticias {
    width: 100vw;
    background-color: #1C78FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticias-titulo {
    text-align: center;
    color: white;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px;
    border-color: rgba(41, 39, 39, 0.73);
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.936);
}

.card-head {
    background-size: cover;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
}

.head1 {
    background-image: url("images/basura-oceano-playa.jpg");
}

.head2 {
    background-image: url("images/obreros.jpg");
}

.head3 {
    background-image: url("images/bioferia.jpg");
}

.head4 {
    background-image: url("images/niños-pobreza.jpg");
}

.card-icons {
    display: inline-flex;
    justify-content: space-between;
    height: 20px;
}

.card-texto {
    width: 22vw;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.card-foot {
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

/* Aplico estilo a la seccion de contacto */

.seccion-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 15px;
    margin: 15px;
}

.contacto-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.formulario {
    height: 210px;
    width: 80%;
    display: flex;
    margin: 15px;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.form-p {
    padding: 15px 0;
    width: 100%;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #5227CC;
}

.form-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #615e5e;
    outline: 0;
    font-size: 1.3rem;
    color: #1a1a1a;
    padding: 15px 0;
    background: transparent;
    transition: border-color 0.2s;

}

.form-input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #5227CC, #8a74c6);
    border-image-slice: 1;
}

.btn-enviar {
    width: 100%;
    padding: 17px 105px;
    margin-top: 60px;
}

.contacto-img>div>img {
    padding: 15px;
    margin: 15px;
}

/* Aplico estilo al footer */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 200px;
    background-color: blueviolet;
    margin-left: -33px;

}

.horizontal {
    display: flex;
    text-align: center;
    width: 100vw;
    height: 180px;
    background-color: blueviolet;
    margin-left: -33px;
    justify-content: space-around;
    align-items: center;
}

.footer-logo>img {
    width: 240px;
    height: 50;
}

.footer-nav {
    width: 250px;
}

.footer-nav>ul>li {
    width: 250px;
    padding: 5px;
    font-size: 1.5em;
    color: #f9f9f9;
}

.footer-nav>ul>li:hover {
    font-weight: bolder;
}

.footer-social {
    width: 240px;
    height: 100px;
    position: relative;
    top: -25px;
}

.footer-social>p {
    padding: 15px;
    font-size: 2.5em;
    color: #f9f9f9;
}

.footer-social>div>img {
    padding: 10px;
    width: 60px;
    height: 60px;
}

.footer-nav>ul>li {
    list-style-type: none;
}